@mixin wrapper() {
  width: 1001px;
  min-height: 650px;
  padding-top: 35px;
  padding-left: 80px;
  padding-right: 80px;
  margin: auto;
  display: flex;
}


html,
body {
  height: 100%;
  width: 100%;
}
.welcome_page {
  background-color: #61c4d9;
  width: 100%;
  height: 100%;;
}

.wrapper {
  @include wrapper();
  justify-content: space-between;
  flex-direction: column;
}

.why .wrapper {
  @include wrapper();
  justify-content: flex-start;
  flex-direction: column;
}
