@charset "UTF-8";
.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  font-family: "Alegreya Sans";
  color: white;
  height: 100vh;
  width: 100%; }

.leaves_pic {
  width: 1056px;
  height: 353px;
  background: url("../../assets/листья.png");
  position: absolute;
  top: 440px;
  left: 160px;
  z-index: 200; }

.berries_pic {
  background: url("../../assets/ягоды.png") no-repeat;
  width: 387px;
  height: 286px;
  position: absolute;
  top: 490px;
  left: 760px;
  z-index: 200; }

.stick_pic {
  background: url("../../assets/Батончики.png") no-repeat;
  position: absolute;
  width: 503px;
  height: 523px;
  top: 150px;
  left: 700px;
  z-index: 200; }

.decor_pic {
  background: url("../../assets/узор.png") no-repeat;
  position: absolute;
  width: 512px;
  height: 648px;
  top: 85px;
  left: 780px;
  z-index: 100; }

.content_action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  height: 100%;
  width: 50%; }

.content_action_header {
  font-size: 40px;
  font-weight: 700;
  line-height: 60px;
  margin-top: 0 71px 0 15px;
  text-transform: uppercase; }

.content_action_subheader {
  width: 341px;
  height: 45px;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 18px; }

.content_action_button {
  width: 156px;
  height: 58px;
  background-color: #ffffff;
  border-radius: 35px; }

.content_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  margin-top: 71px; }

.content_info_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row; }

.content_info_item_logo {
  width: 44px;
  height: 41px;
  margin-right: 10px; }

.content_info_item_text {
  width: 57px;
  height: 49px;
  font-family: "Alegreya Sans";
  font-size: 16px;
  font-weight: 400; }

.sidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  .sidebar li {
    z-index: 300; }

/* WHY PAGE STYLES */
.why_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  color: #0d0d0d;
  font-family: "Alegreya Sans";
  margin-top: 79px; }

.why_header_title {
  font-size: 48px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin: auto; }

.why_header_subtitle {
  color: #666666;
  font-size: 18px;
  font-weight: 400;
  margin: auto;
  width: 506px;
  text-align: center; }

.why_content {
  margin-top: 57px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row; }
  .why_content li {
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }

.why_content_icon_container {
  width: 125px;
  height: 125px;
  background-color: #f2f5f4;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.why_content_icon {
  width: 66px;
  height: 69px; }

.why_content_title {
  margin-top: 30px;
  height: 18px;
  font-size: 27px;
  font-weight: 700; }

.why_content_description {
  margin-top: 30px;
  width: 276px;
  height: 54px;
  color: #666666;
  font-size: 18px;
  font-weight: 300;
  text-align: center; }

.why_berries_pic {
  background: url("../../assets/малина.png") no-repeat;
  width: 161px;
  height: 315px;
  position: absolute;
  top: 1190px;
  left: 0px;
  z-index: 200; }

.why_decor_pic {
  background: url("../../assets/узор_лист.png") no-repeat;
  width: 191px;
  height: 314px;
  position: absolute;
  top: 959px;
  left: 0px;
  z-index: 200; }

.why_content_between_pic {
  position: relative;
  top: -60px;
  left: 0; }
